# Scraping with Pandas

In [2]:
import pandas as pd

We can use the `read_html` function in Pandas to automatically scrape any tabular data from a page.

In [3]:
url = 'https://www.akc.org/expert-advice/news/most-popular-dog-breeds-of-2018/'

In [4]:
tables = pd.read_html(url)
tables

[                                  0     1
 0                             BREED  2018
 1             Retrievers (Labrador)     1
 2              German Shepherd Dogs     2
 3               Retrievers (Golden)     3
 4                   French Bulldogs     4
 5                          Bulldogs     5
 6                           Beagles     6
 7                           Poodles     7
 8                       Rottweilers     8
 9     Pointers (German Shorthaired)     9
 10               Yorkshire Terriers    10
 11                           Boxers    11
 12                       Dachshunds    12
 13            Pembroke Welsh Corgis    13
 14                 Siberian Huskies    14
 15             Australian Shepherds    15
 16                      Great Danes    16
 17               Doberman Pinschers    17
 18   Cavalier King Charles Spaniels    18
 19             Miniature Schnauzers    19
 20                         Shih Tzu    20
 21                  Boston Terriers    21
 22            Bernese Mountain Dogs    22
 23                      Pomeranians    23
 24                         Havanese    24
 25               Shetland Sheepdogs    25
 26                        Brittanys    26
 27      Spaniels (English Springer)    27
 28                             Pugs    28
 29                         Mastiffs    29
 ..                              ...   ...
 163                        Kuvaszok   163
 164               Sealyham Terriers   164
 165               Norwegian Buhunds   165
 166       Spaniels (American Water)   166
 167              Wirehaired Vizslas   167
 168                         Lowchen   168
 169               Swedish Vallhunds   169
 170        Polish Lowland Sheepdogs   170
 171                          Plotts   171
 172                  Pharaoh Hounds   172
 173                      Komondorok   173
 174          Glen of Imaal Terriers   174
 175     American English Coonhounds   175
 176         Dandie Dinmont Terriers   176
 177   Grand Basset Griffon Vendeens   177
 178                   Skye Terriers   178
 179                     Canaan Dogs   179
 180               Spaniels (Sussex)   180
 181              Pyrenean Shepherds   181
 182                     Otterhounds   182
 183              Cirnechi dell’Etna   183
 184                   Finnish Spitz   184
 185                  Cesky Terriers   185
 186              American Foxhounds   186
 187            Bergamasco Sheepdogs   187
 188               English Foxhounds   188
 189                        Harriers   189
 190                        Chinooks   190
 191            Norwegian Lundehunds   191
 192                        Sloughis   192

 [193 rows x 2 columns]]

What we get in return is a list of dataframes for any tabular data that Pandas found.

In [5]:
type(tables)

list

We can slice off any of those dataframes that we want using normal indexing.

In [11]:
df = tables[0]
df.columns = ['Breed', 'Rank']
df.head()

                   Breed  Rank
0                  BREED  2018
1  Retrievers (Labrador)     1
2   German Shepherd Dogs     2
3    Retrievers (Golden)     3
4        French Bulldogs     4

Cleanup of extra rows

In [12]:
TopBreed = df.iloc[1:]
TopBreed.head()

                   Breed  Rank
1  Retrievers (Labrador)     1
2   German Shepherd Dogs     2
3    Retrievers (Golden)     3
4        French Bulldogs     4
5               Bulldogs     5

Set the index to the `State` column

Adding a column for year that the ranking was done

In [15]:
TopBreed['Rank Year'] = 2018
TopBreed.head()
TopBreed.drop(['year'], axis=1)

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

                              Breed  Rank  Rank Year
1             Retrievers (Labrador)     1       2018
2              German Shepherd Dogs     2       2018
3               Retrievers (Golden)     3       2018
4                   French Bulldogs     4       2018
5                          Bulldogs     5       2018
6                           Beagles     6       2018
7                           Poodles     7       2018
8                       Rottweilers     8       2018
9     Pointers (German Shorthaired)     9       2018
10               Yorkshire Terriers    10       2018
11                           Boxers    11       2018
12                       Dachshunds    12       2018
13            Pembroke Welsh Corgis    13       2018
14                 Siberian Huskies    14       2018
15             Australian Shepherds    15       2018
16                      Great Danes    16       2018
17               Doberman Pinschers    17       2018
18   Cavalier King Charles Spaniels    18       2018
19             Miniature Schnauzers    19       2018
20                         Shih Tzu    20       2018
21                  Boston Terriers    21       2018
22            Bernese Mountain Dogs    22       2018
23                      Pomeranians    23       2018
24                         Havanese    24       2018
25               Shetland Sheepdogs    25       2018
26                        Brittanys    26       2018
27      Spaniels (English Springer)    27       2018
28                             Pugs    28       2018
29                         Mastiffs    29       2018
30                Spaniels (Cocker)    30       2018
..                              ...   ...        ...
163                        Kuvaszok   163       2018
164               Sealyham Terriers   164       2018
165               Norwegian Buhunds   165       2018
166       Spaniels (American Water)   166       2018
167              Wirehaired Vizslas   167       2018
168                         Lowchen   168       2018
169               Swedish Vallhunds   169       2018
170        Polish Lowland Sheepdogs   170       2018
171                          Plotts   171       2018
172                  Pharaoh Hounds   172       2018
173                      Komondorok   173       2018
174          Glen of Imaal Terriers   174       2018
175     American English Coonhounds   175       2018
176         Dandie Dinmont Terriers   176       2018
177   Grand Basset Griffon Vendeens   177       2018
178                   Skye Terriers   178       2018
179                     Canaan Dogs   179       2018
180               Spaniels (Sussex)   180       2018
181              Pyrenean Shepherds   181       2018
182                     Otterhounds   182       2018
183              Cirnechi dell’Etna   183       2018
184                   Finnish Spitz   184       2018
185                  Cesky Terriers   185       2018
186              American Foxhounds   186       2018
187            Bergamasco Sheepdogs   187       2018
188               English Foxhounds   188       2018
189                        Harriers   189       2018
190                        Chinooks   190       2018
191            Norwegian Lundehunds   191       2018
192                        Sloughis   192       2018

[192 rows x 3 columns]

In [13]:
# df.set_index('State', inplace=True)
# df.head()

In [14]:
# df.loc['Alabama']

## DataFrames as HTML

Pandas also had a `to_html` method that we can use to generate HTML tables from DataFrames.

In [15]:
# html_table = df.to_html()
# html_table

You may have to strip unwanted newlines to clean up the table.

In [17]:
# html_table.replace('\n', '')

You can also save the table directly to a file.

In [19]:
# df.to_html('table.html')
df.to_excel(r'top_breeds_excel.xlsx')

In [12]:
# OSX Users can run this to open the file in a browser, 
# or you can manually find the file and open it in the browser
# !open table.html