# Scraping with Pandas

In [1]:
import pandas as pd

We can use the `read_html` function in Pandas to automatically scrape any tabular data from a page.

In [2]:
url = 'https://www.akc.org/expert-advice/news/most-popular-dog-breeds-of-2018/'

In [3]:
tables = pd.read_html(url)
tables

[                                  0     1
 0                             BREED  2018
 1             Retrievers (Labrador)     1
 2              German Shepherd Dogs     2
 3               Retrievers (Golden)     3
 4                   French Bulldogs     4
 5                          Bulldogs     5
 6                           Beagles     6
 7                           Poodles     7
 8                       Rottweilers     8
 9     Pointers (German Shorthaired)     9
 10               Yorkshire Terriers    10
 11                           Boxers    11
 12                       Dachshunds    12
 13            Pembroke Welsh Corgis    13
 14                 Siberian Huskies    14
 15             Australian Shepherds    15
 16                      Great Danes    16
 17               Doberman Pinschers    17
 18   Cavalier King Charles Spaniels    18
 19             Miniature Schnauzers    19
 20                         Shih Tzu    20
 21                  Boston Terriers    21
 22            Bernese Mountain Dogs    22
 23                      Pomeranians    23
 24                         Havanese    24
 25               Shetland Sheepdogs    25
 26                        Brittanys    26
 27      Spaniels (English Springer)    27
 28                             Pugs    28
 29                         Mastiffs    29
 ..                              ...   ...
 163                        Kuvaszok   163
 164               Sealyham Terriers   164
 165               Norwegian Buhunds   165
 166       Spaniels (American Water)   166
 167              Wirehaired Vizslas   167
 168                         Lowchen   168
 169               Swedish Vallhunds   169
 170        Polish Lowland Sheepdogs   170
 171                          Plotts   171
 172                  Pharaoh Hounds   172
 173                      Komondorok   173
 174          Glen of Imaal Terriers   174
 175     American English Coonhounds   175
 176         Dandie Dinmont Terriers   176
 177   Grand Basset Griffon Vendeens   177
 178                   Skye Terriers   178
 179                     Canaan Dogs   179
 180               Spaniels (Sussex)   180
 181              Pyrenean Shepherds   181
 182                     Otterhounds   182
 183              Cirnechi dell’Etna   183
 184                   Finnish Spitz   184
 185                  Cesky Terriers   185
 186              American Foxhounds   186
 187            Bergamasco Sheepdogs   187
 188               English Foxhounds   188
 189                        Harriers   189
 190                        Chinooks   190
 191            Norwegian Lundehunds   191
 192                        Sloughis   192

 [193 rows x 2 columns]]

What we get in return is a list of dataframes for any tabular data that Pandas found.

In [5]:
type(tables)

list

We can slice off any of those dataframes that we want using normal indexing.

In [11]:
df = tables[0]
df.columns = ['Breed', 'Rank']
df.head()

                   Breed  Rank
0                  BREED  2018
1  Retrievers (Labrador)     1
2   German Shepherd Dogs     2
3    Retrievers (Golden)     3
4        French Bulldogs     4

Cleanup of extra rows

In [12]:
df = df.iloc[1:]
df.head()

                   Breed  Rank
1  Retrievers (Labrador)     1
2   German Shepherd Dogs     2
3    Retrievers (Golden)     3
4        French Bulldogs     4
5               Bulldogs     5

Set the index to the `State` column

In [13]:
# df.set_index('State', inplace=True)
# df.head()

In [14]:
# df.loc['Alabama']

## DataFrames as HTML

Pandas also had a `to_html` method that we can use to generate HTML tables from DataFrames.

In [15]:
# html_table = df.to_html()
# html_table

You may have to strip unwanted newlines to clean up the table.

In [17]:
# html_table.replace('\n', '')

You can also save the table directly to a file.

In [19]:
# df.to_html('table.html')
df.to_excel(r'top_breeds_excel.xlsx')

In [12]:
# OSX Users can run this to open the file in a browser, 
# or you can manually find the file and open it in the browser
# !open table.html